<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test.Properties.Settings.connStr" connectionString="Data Source=XYYT_10.7.1.10;Persist Security Info=True;User ID=ly;Password=ly;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="Test.Properties.Settings.connOdbcStr" connectionString="Dsn=rdd;dbq=D:\SoftSVN\Radiation\RDD.mdb;defaultdir=D:\SoftSVN\Radiation;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
            providerName="System.Data.Odbc" />
        <add name="Test.Properties.Settings.connOleStr" connectionString="Provider=SQLOLEDB;Data Source=127.0.0.1;Password=sunjing;User ID=sa;Initial Catalog=yz"
            providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
